:root {
    --color-primary-50: 255 230 153;  /* naranja claro */
    --color-primary-100: 255 209 77;   /* naranja */
    --color-primary-200: 255 182 18;   /* naranja oscuro */
    --color-primary-300: 242 157 0;    /* naranja más oscuro */
    --color-primary-400: 230 135 0;    /* naranja profundo */
    --color-primary-500: 255 154 0;    /* naranja primario de tu empresa */
    --color-primary-600: 227 132 0;    /* naranja más oscuro */
    --color-primary-700: 204 115 0;    /* naranja oscuro */
    --color-primary-800: 179 100 0;    /* naranja más oscuro */
    --color-primary-900: 153 85 0;     /* naranja profundo */
    --color-primary-950: 96 53 0;      /* naranja muy profundo */
 
  }